
.grid-container {
  display: grid;
  background-color: #2196F3;
  height:100vh;

}

.grid-item {
  background-color: #66ff00;
  text-align: left;
  font-size: 15px;
}

.onlinegrid {
    grid-column: 1;
    grid-row: 1 /6 ;
    background-color: #FFB6C1	;
}
.chatgrid{
    background-color: #add8e6;
    grid-column: 2 / 12;
    grid-row: 1 / 5;
    overflow-y:scroll; 
    text-align:left;
}
.inputgrid{
    grid-column: 1 / 11;
        background-color: #BFFF00;
}
.submitgrid{
    grid-column:11;
      background-color: #008080;
}
.formwrappergrid{
    grid-column: 2/12;
    grid-row:5;
}
form{
    display: grid;
    height:100%;
}
